*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat',sans-serif;
}

body{
    color: white;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: url(background_1.jpg) no-repeat 0 0;
    background-size: cover;
}

header{
    position: fixed;
    top: 0;
    height: 65px;
    width: 100%;  
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    font-size: 1.2em;
    z-index: 2;
}

.class{
    cursor: pointer;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 1.2em;
    letter-spacing: 0.5px;
}

.class img{
    /* width: 52px; */
    /* height: 52px; */
     margin-right: 8px;
} 

.navbar li{
    list-style: none;
    display: inline-block;
    margin-left: 80px;
    cursor: pointer;
    transition: color 0.5s;
}

.navbar li.active,
.navbar li:hover{
    color: rgb(233, 165, 198);   
}

.content{
    padding-top: 100px;
    position: relative;
    flex: 1;
    display: flex;
}

.left {
    max-width: 50%;
    padding: 0 64px;
}

.title {
    font-size: 1.5em;
    letter-spacing: 1px;
    margin: 24px auto;
    line-height: 36px;
}


.title strong {
    font-size: 1.2em;
    display: block;
    line-height: 40px;
}

.msg {
    max-width: 90%;
    font-size: 0.8em;
    letter-spacing: 0.7px;
    line-height: 28px;
    margin-bottom: 48px;
}

button.btn {
    border: none;
    outline: none;
    background-color: #fff;
    color: #ff0073;
    padding: 18px 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 7px 12px 20px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    transition: background-color 0.5s;
}

button.btn:hover {
    background-color: rgb(251, 218, 234);
}

button span {
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 3px;
    font-weight: bold;
}

button.btn i {
    font-size: 1.7em;
    margin-left: 16px;
}

/*  Right Side  */
.right {
    padding: 40px 0 0 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.right img {
    max-width: 450px;
    margin-top: -34px;
    margin-bottom: 26px;
}

.colors {
    display: flex;
    border-top: 3px dotted #fff;
}

.colors .color {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    min-height: 180px;
    padding-top: 40px;
}

.color img {
    position: relative;
    width: 60px;
    height: 60px;
    cursor: pointer;
    transition: width 0.5s;
}

.color img:hover {
    width: 70px;
} 

.color .color-selector{
    position: absolute;
    top: 0px;
    left: 50%;
    background-color: black;
    width: 16px;
    height: 16px;
    transform: translate(-50%,-50%);
    border: 2px solid #fff;
    border-radius: 50%;
}

.color.white .color-selector {
    background-color: white;
}

.color.red .color-selector {
    background-color: red;
}

.color:first-child {
    transform: translateX(-50%);
}

.color:last-child {
    transform: translateX(50%);
}

.color.active img {
    width: 100px;
    height: 80px;
}

.color.active .color-selector {
    width: 28px;
    height: 28px;
}

.color.active {
    min-width: 220px;
} 

.additional-info {         
    margin-bottom: 59px;
    background-color: white;
    color: black;
    border-radius: 16px;
    position: absolute;
    left: 60%;
    width: 57%;
    text-align: right;
    padding: 8px 10px;
    line-height: 28px;
    font-size: 0.8em;
    letter-spacing: 0.3px;
    font-weight: bold;
}

 
